<div class="profile-form-container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8">
      <%= simple_form_for(@profile) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">

          <div class="form-input">
            <%= f.input :name, required: true, label: "What is your name?" %>
          </div>
          <div class="form-input">
            <%= f.input :hours, required: true, label: "What hours do you typically work?" %>
          </div>
          <div class="form-input">
            <%= f.input :title, required: true, label: "What is your current job title?" %>
          </div>
          <div class="form-input">
            <%= f.input :how, required: true, label: "Please tell us how you got yourself started", class: "text-box" %>
          </div>
          <div class="form-input">
            <%= f.input :why, required: true, label: "Why did you decide to do what you do?", class: "text-box" %>
          </div>
          <div class="form-input">
            <%= f.input :what, required: true, label: "Day to day, what do you actually do?", class: "text-box" %>
          </div>
          <div class="form-input">
            <%= f.input :advice, required: true, label: "Have you got any advice to share?", class: "text-box" %>
          </div>
          <div class="form-input">
            <%= f.input :photo, as: :file, required: true, label: "Upload a photo that best represents you or your work" %>
          </div>
          <div class="form-input">
            <%= f.input :linked_in_url, label: "Provide your linked in" %>
          </div>
          <div class="form-input">
            <%= f.input :instagram_url, label: "Provide your instagram" %>
          </div>
          <div class="form-input">
            <%= f.input :address, required: true, label: "Where in the world are you located?",

                      input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                      wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
            %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: "button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
