<div id="<%= dom_id profile %>">
  <div class="profile-card">
    <img src="<%= cl_image_path(profile.photo.key) %>" alt="Profile Photo">

    <div class="profile-card-infos">
      <div>
        <h2><%= profile.name %></h2>
        <p><%= profile.title %></p>
      </div>
      <h3 class="profile-card-rating"><%= @profile_data[profile.id][:total_rating] %> ⭐️</h2>
      <%= cl_image_tag @profile_data[profile.id][:user].photo.key, class: "profile-card-user" %>
    </div>
  </div>
</div>



<%# <div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div> %>
