<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= profile.hours %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= profile.title %>
  </p>

  <p>
    <strong>How:</strong>
    <%= profile.how %>
  </p>

  <p>
    <strong>Why:</strong>
    <%= profile.why %>
  </p>

  <p>
    <strong>What:</strong>
    <%= profile.what %>
  </p>

  <p>
    <strong>Advice:</strong>
    <%= profile.advice %>
  </p>

  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

</div>
