<div class="profiles-section">
  <%= link_to "Back to Dashboard", dashboard_path %>
  <div data-controller="most-similar">
    <div class="index-container">
      <div class="index-of-profiles">
        <div class="filter-bar">
          <div class="row justify-content-center">
            <div class="col-sm-12  searchbar">
              <%= form_with url: profiles_path, method: :get, class: "d-flex" do %>
                <%= text_field_tag :query,
                      params[:query],
                      class: "form-control",
                      placeholder: "Type a keyword"
                  %>
                <%= submit_tag "Search", name: "", class: "button" %>
              <% end %>
            </div>
          </div>
          <div class="filter-buttons-container">
            <button class="button most-similar-button" data-most-similar-target="most-similar-button" data-action="click->most-similar#triggerMostSimilar">
              For You
            </button>
            <button class="button all-profiles-button" data-most-similar-target="all-profiles-button" data-action="click->most-similar#triggerAllProfiles">
              All Profiles
            </button>
          </div>
        </div>

        <div class="profile-index-container">
          <div class="all-profiles" data-most-similar-target="profiles">
            <% @profiles.each do |profile| %>
              <%= link_to profile_path(profile) do %>
                <%= render profile %>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="profile-index-container">

          <h5 data-most-similar-target="mostSimilarTag">These people are most similar to you</h5>
          <div class="most-similar-profiles" data-most-similar-target="mostSimilarProfiles">
            <% if @most_similar_profiles.length < 1 %>

              <div>
                <p>You need to complete our quiz to use our algorithm</p>
                <%= link_to new_questionnaire_path  do %>
                  <button class="button">
                    Take our quiz
                  </button>
                <% end %>
              </div>

            <% else %>
              <% @most_similar_profiles.each do |profile| %>
                <% next if profile.nil? || profile.id.nil? %>
                <%= link_to profile_path(profile) do %>
                  <%= render profile %>
                <% end %>
              <% end %>


            <% end %>
          </div>
        </div>
      </div>
      <div>
        <div class="profile-index-sidebar">
          <h2>Around The Globe</h2>
          <div
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
            id="map">
          </div>
          <h3 class="highlighted-word">REMEMBER!</h3>
          <p>Individual accounts are massively biased, so make sure you keep an open mind when you read. Everyone is differnet after all!</p>
        </div>
      </div>
    </div>
  </div>
</div>
