<p style="color: green"><%= notice %></p>

<h1>Profiles</h1>

<div id="profiles">
  <% @profiles.each do |profile| %>
    <%= render profile %>
    <p>
    <% raise %>
      <%= link_to "Show this profile", profile %>
    </p>
    <%# <% if profile.photo.key.exist %> %>
    <%# <%= if profile.photo.key.exist ? (cl_image_tag profile.photo.key, height: 300, width: 400, crop: :fill) : (<p>hdijgi</p>) %> %>

  <% end %>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%= link_to "New profile", new_profile_path if policy(Profile).new?%>
