<div class="profiles-section">
  <div data-controller="most-similar">
    <div class="index-container">
      <div class="index-of-profiles">
        <div class="filter-bar">
          <div class="row justify-content-center">
            <div class="col-sm-12  searchbar">
              <%= form_with url: profiles_path, method: :get, class: "d-flex" do %>
                <%= text_field_tag :query,
                      params[:query],
                      class: "form-control",
                      placeholder: "Type a keyword"
                  %>
                <%= submit_tag "Search", name: "", class: "button" %>
              <% end %>
            </div>
          </div>
          <button class="button" data-most-similar-target="button" data-action="click->most-similar#trigger">
            Most similar
          </button>
        </div>
        <div class="profile-index-container">
          <div class="all-profiles" data-most-similar-target="profiles">
            <% @profiles.each do |profile| %>
              <%= link_to profile_path(profile) do %>
                <%= render profile %>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="profile-index-container">
          <div class="most-similar-profiles" data-most-similar-target="mostSimilarProfiles">
            <% @most_similar_profiles.each do |profile| %>
              <%= link_to profile_path(profile) do %>
                <%= render profile %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="profile-index-sidebar">
        <h2>Search our map</h2>
        <div
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          id="map">
        </div>
        <h3>Some info here?</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
      </div>
    </div>
  </div>

</div>
