
<div class="profile-show-section">
  <h1><%= @profile.name %></h1>
  <h2><%= @profile.title %></h2>

  <h5>What hours do you typically work? <%= @profile.hours %></h5>

  <h3>Why did you get started?</h3>
  <p><%= @profile.why %></p>

  <h3>How did you get started</h3>
  <p><%= @profile.how %></p>

  <h3>What do you actually do?</h3>
  <p><%= @profile.what %></p>

  <h3>linked in:</h3>
  <p><%= @profile.linked_in_url %></p>

  <h3>Instagram:</h3>
  <p><%= @profile.instagram_url %></p>

  <h3>Do you have any key advice?</h3>
  <p><%= @profile.advice %></p>
  <% if (current_user.id != @profile.user_id ) %>
    <% chatroom = Chatroom.find_by(user_id: current_user.id, user2_id: @profile.user_id) %>
    <% chatroom2 = Chatroom.find_by(user_id: @profile.user_id, user2_id: current_user.id) %>
    <% if chatroom || chatroom2 %>
      <button class="button">
        <%= link_to "Go to Chatroom", chatroom_path(chatroom || chatroom2) %>
      </button>
    <% else %>
      <button class="button">
        <%= link_to "send a message to the user", new_chatroom_path(user2_id: @profile.user_id)  %>
      </button>
    <% end %>
  <% end %>
  <button class="button">
    <%= link_to "new review", new_profile_review_path(@profile) %>
  </button>
</div>


  <% if policy(@profile).edit? %>
    <%= link_to "Edit this profile", edit_profile_path(@profile) %> |
  <% end %>

  <%= button_to "Destroy this profile", @profile, method: :delete if policy(@profile).destroy? %>
</div>
<%# <%= link_to "message this person",  %>
<%# <% raise %>
