<div class="profile-show">
  <%= link_to "Back", profiles_path %>
  <div class="profile-show-title">
    <div class="background-image" style="background-image: url('<%= cl_image_path(@profile.photo.key)%>')">
    </div>
    <div class="profile-show-content">
      <div class="profile-show-content-data">
        <h1>Hi 👋🏼, I'm <%= @profile.name %></h1>
        <h2>I work as a <%= @profile.title %></h2>
        <div class="message-button-container">
          <div>
            <% if (current_user.id != @profile.user_id ) %>
              <% chatroom = Chatroom.find_by(user_id: current_user.id, user2_id: @profile.user_id) %>
              <% chatroom2 = Chatroom.find_by(user_id: @profile.user_id, user2_id: current_user.id) %>
              <% if chatroom || chatroom2 %>
                <button class="button">
                  <%= link_to "Message #{@profile.name}", chatroom_path(chatroom || chatroom2) %>
                </button>
              <% else %>
                <button class="button">
                  <%= link_to "Message #{@profile.name}", new_chatroom_path(user2_id: @profile.user_id)  %>
                </button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-show-information">
    <div class="profile-show-card">
      <h3>What does your day typically involve?</h3>
      <p><%= @profile.what %></p>
    </div>

    <div class="profile-show-card">
      <h3>Why did you choose to go into your field?</h3>
      <p><%= @profile.why %></p>
    </div>

    <div class="profile-show-card">
      <h3>How did you get yourself started in the beginning?</h3>
      <p><%= @profile.how %></p>
    </div>

    <div class="profile-show-card">
      <h3>What advice would you give to aspiring people?</h3>
      <p><%= @profile.advice %></p>
    </div>

    <div class="profile-show-card">
      <div class="member-image socials">
        <div class="review-partial">
      </div>
        <%= render partial: 'reviews/form', locals: { profile: @profile } %>
      </div>
    </div>
  </div>
</div>
