<p style="color: green"><%= notice %></p>

<%= render @profile %>

<div>
<%# <%= cl_image_tag @profile.photo.key, height: 300, width: 400, crop: :fill %> %>

  <% if policy(@profile).edit? %>
    <%= link_to "Edit this profile", edit_profile_path(@profile) %> |
  <% end %>
  <%= link_to "Back to profiles", profiles_path %>

  <%= button_to "Destroy this profile", @profile, method: :delete if policy(@profile).destroy? %>
</div>
<p>total rating: <%= @total_rating %></p>
<%# <%= link_to "message this person",  %>
<%# <% raise %>
<%= link_to "send a message to the user", new_chatroom_path(user2_id: @profile.user_id) %>
<%= link_to "new review", new_profile_review_path(@profile) %>
