<div class="profile-show">
    <div class="profile-show-title">
      <h1><%= @profile.name %></h1>
      <h2><%= @profile.title %></h2>
      <div class="button-container">
        <div>
          <% if (current_user.id != @profile.user_id ) %>
            <% chatroom = Chatroom.find_by(user_id: current_user.id, user2_id: @profile.user_id) %>
            <% chatroom2 = Chatroom.find_by(user_id: @profile.user_id, user2_id: current_user.id) %>
            <% if chatroom || chatroom2 %>
              <button class="button">
                <%= link_to "Message", chatroom_path(chatroom || chatroom2) %>
              </button>
            <% else %>
              <button class="button">
                <%= link_to "Message", new_chatroom_path(user2_id: @profile.user_id)  %>
              </button>
            <% end %>
          <% end %>
        </div>
        <button class="button">
          <%= link_to "new review", new_profile_review_path(@profile) %>
        </button>
        <%= render partial: 'reviews/form', locals: { profile: @profile } %>

      </div>
    </div>
  <div class="profile-container">
    <div class="profile-show-card">
      <h3>What hours do you typically work? </h3>
      <p><%= @profile.hours %></p>
    </div>
    <div class="profile-show-card">
      <h3>Why did you get started?</h3>
      <p><%= @profile.why %></p>
    </div>
    <div class="profile-show-card">
      <h3>How did you get started</h3>
      <p><%= @profile.how %></p>
    </div>
    <div class="profile-show-card">
      <h3>What do you actually do?</h3>
      <p><%= @profile.what %></p>
    </div>
    <div class="profile-show-card">
      <h3>linked in:</h3>
      <p><%= @profile.linked_in_url %></p>
    </div>
    <div class="profile-show-card">
      <h3>Instagram:</h3>
      <p><%= @profile.instagram_url %></p>
    </div>
    <div class="profile-show-card">
      <h3>Do you have any key advice?</h3>
      <p><%= @profile.advice %></p>
    </div>
  </div>
</div>


  <%# <%= button_to "Destroy this profile", @profile, method: :delete if policy(@profile).destroy? %>
</div>
