<div class="chatroom-index">


  <div class="chatroom-section">
    <h2>Your active chats</h2>
    <% @chatrooms.each do |chatroom| %>
      <%= link_to chatroom_path(chatroom), remote: true, class: 'chatroom-link' do %>
        <div class="chatroom-container">
          <div class="chatroom-card">
            <% if @user_data[chatroom.id][:user1].present? && chatroom.user_id != current_user.id %>
              <img src="<%= @user_data[chatroom.id][:user1].photo.url %>" alt="User 1 Photo" class="chatroom-avatar">
              <div class="chatroom-data">
                <div class="upper">
                  <h3 class="user-nickname"><%= @user_data[chatroom.id][:user1].nickname %></h3>
                  <% if @user_data[chatroom.id][:messages].present? %>
                    <% timestamp = @user_data[chatroom.id][:messages].last.updated_at %>
                    <% if timestamp.today? %>
                      <h4><%= timestamp.strftime('%H:%M') %></h4>
                    <% else %>
                      <h4><%= timestamp.strftime('%A') %></h4>
                    <% end %>
                  <% end %>
                </div>
                <% if @user_data[chatroom.id][:messages].present? %>
                  <p><%= @user_data[chatroom.id][:messages].last.content %></p>
                <% end %>
              </div>
            <% else %>
              <img src="<%= @user_data[chatroom.id][:user2].photo.url %>" alt="User 2 Photo" class="chatroom-avatar">
              <div class="chatroom-data">
                <div class="upper">
                  <h3 class="user-nickname"><%= @user_data[chatroom.id][:user2].nickname %></h3>
                  <% if @user_data[chatroom.id][:messages].present? %>
                    <% timestamp = @user_data[chatroom.id][:messages].last.updated_at %>
                    <% if timestamp.today? %>
                      <h4><%= timestamp.strftime('%H:%M') %></h4>
                    <% else %>
                      <h4><%= timestamp.strftime('%A') %></h4>
                    <% end %>
                  <% end %>
                </div>
                <% if @user_data[chatroom.id][:messages].present? %>
                  <p><%= @user_data[chatroom.id][:messages].last.content %></p>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <%# <div id="chatroom-show-partial">
      </div> %>
    <% end %>
  </div>


</div>

<%# <script>
  document.addEventListener('DOMContentLoaded', function() {
    const chatroomLinks = document.querySelectorAll('.chatroom-link');

    chatroomLinks.forEach(function(link) {
      link.addEventListener('click', function(event) {
        event.preventDefault();
        const url = this.getAttribute('href');

        fetch(url)
          .then(response => response.text())
          .then(data => {
            console.log(data)
            const chatroomShowPartial = document.getElementById('chatroom-show-partial');
            chatroomShowPartial.innerHTML = data;
          })
          .catch(error => console.error('Error:', error));
      });
    });
  });
</script> %>
