<div class='dashboard'>

  <div class='dashboard-container left'>
    <div>
      <h2 id='dashboard-title'>Welcome, <%= current_user.nickname %></h2>
      <p>Manage everything all in one place</p>
    </div>
    <div class='icon-container'>
      <div class='icon'><%= cl_image_tag current_user.photo.key, class: "dashboard-avatar" %></div>
      <div class='icon'><%= @total_rating %> ⭐️</div>
    </div>
  </div>

  <div class='dashboard-container middle'>
    <%= link_to profiles_path do %>
      <div class="discover-card">
        <div class='card-content'>
          <h2>Discover</h2>
          <p>Browse some snippets of information from our mentors!</p>
        </div>
      </div>
    <% end %>
    <div class='card-category-container'>
      <%= link_to chatrooms_path  do %>
        <div class="card-category">
          Messages
        </div>
      <% end %>
      <div class="card-category">
        Reviews
      </div>

      <% if @profile.present? %>

        <%= link_to edit_profile_path(@profile) do %>
          <div class="card-category">
            Profile
          </div>
        <% end %>

        <% if @questionnaire.present? %>
          <%= link_to edit_questionnaire_path(@questionnaire) do %>
            <div class="card-category">
              Re-take Quiz
            </div>
          <% end %>
        <% else %>
          <%= link_to new_profile_questionnaire_path(@profile) do %>
            <div class="card-category">
              Take The Quiz
            </div>
          <% end %>
        <% end %>

      <% else %>

        <%= link_to new_profile_path do %>
          <div class="card-category">
            Share your experiences!
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class='dashboard-container right'>
    <div>
      <a class="social-media-icon" href="https://github.com/roryjjackson" target="_blank" rel="noreferrer">
        <i class="fa-brands fa-github" id="github"></i>
      </a>
      <a class="social-media-icon" href="https://www.facebook.com/jacksonrory3/" target="_blank" rel="noreferrer">
        <i class="fa-brands fa-facebook" id="facebook"></i>
      </a>
      <a class="social-media-icon" href="https://www.instagram.com/jackson_rory_/" target="_blank" rel="noreferrer">
        <i class="fa-brands fa-instagram" id="instagram"></i>
      </a>
    </div>
    <p>mappedout.com logo</p>
  </div>

</div>
