<div class='dashboard'>

  <div class='dashboard-container left'>
    <div>
      <%= link_to "Return Home", root_path %>
      <br/>
      <br/>
      <h2 id='dashboard-title'>Welcome, <%= current_user.nickname %></h2>
      <p>Navigate round our app from here. All our features are easy to access.</p>
    </div>
    <div class='icon-container'>
      <div class='icon'><%= cl_image_tag current_user.photo.key, class: "dashboard-avatar" %></div>
      <div class='icon review'><%= @total_rating %> </div>
    </div>
  </div>

  <div class='dashboard-container middle'>
    <%= link_to profiles_path do %>
      <div class="discover-card">
        <div class='card-content'>
          <h3>Discover</h3>
        </div>
      </div>
    <% end %>
    <div class='card-category-container'>
      <%= link_to chatrooms_path  do %>
        <div class="card-category">
          <div class="card-content">
            <h3>Messages</h3>
          </div>
        </div>
      <% end %>

      <% if @user.mentor? && !@profile.present? %>
        <%= link_to new_profile_path do %>
          <div class="card-category">
            <div class="card-content">
              <h3>Create Profile</h3>
            </div>
          </div>
        <% end %>
      <% else %>
      <% end %>


      <% if @profile.present? %>

        <%= link_to edit_profile_path(@profile) do %>
          <div class="card-category">
            <div class="card-content">
              <h3>Mentor Profile</h3>
            </div>
          </div>
        <% end %>

        <% if @questionnaire.present? %>
          <%= link_to edit_questionnaire_path(@questionnaire) do %>
            <div class="card-category">
              <div class="card-content">
                <h3>Re-take Quiz</h3>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= link_to new_questionnaire_path do %>
            <div class="card-category">
              <div class="card-content">
                <h3>Take The Quiz</h3>
              </div>
            </div>
          <% end %>
        <% end %>

      <% else %>

        <%= link_to new_mentor_path do %>
          <div class="card-category">
            <div class="card-content">
              <h3>Become a mentor</h3>
            </div>
          </div>
        <% end %>

        <% if @questionnaire.present? %>
          <%= link_to edit_questionnaire_path(@questionnaire) do %>
            <div class="card-category">
              <div class="card-content">
                <h3>Re-take Quiz</h3>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= link_to new_questionnaire_path do %>
            <div class="card-category">
              <div class="card-content">
                <h3>Take The Quiz</h3>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <div class="card-category">
        <div class="card-content">
          <h3>New features are coming</h3>
        </div>
      </div>
    </div>
  </div>

  <div class='dashboard-container right'>
    <%# <div>
      <a class="social-media-icon" href="https://github.com/roryjjackson" target="_blank" rel="noreferrer">
        <i class="fa-brands fa-github" id="github"></i>
      </a>
      <a class="social-media-icon" href="https://www.facebook.com/jacksonrory3/" target="_blank" rel="noreferrer">
        <i class="fa-brands fa-facebook" id="facebook"></i>
      </a>
      <a class="social-media-icon" href="https://www.instagram.com/jackson_rory_/" target="_blank" rel="noreferrer">
        <i class="fa-brands fa-instagram" id="instagram"></i>
      </a>
    </div> %>
    <h3>MappedOut.</h3>
    <p>If you have any suggestions on new features, please do let us know!</p>
  </div>

</div>
