<%# <%= link_to "index of profiles", profiles_path %>
<%# <%= link_to "complete questionnaire", new_questionnaire_path %>
<%# <%= link_to "chatrooms index", chatrooms_path %>

<%# <div class="bubbles">
  <span style="--i:11;"></span>
  <span style="--i:12;"></span>
  <span style="--i:24;"></span>
  <span style="--i:10;"></span>
  <span style="--i:14;"></span>
  <span style="--i:23;"></span>
  <span style="--i:18;"></span>
  <span style="--i:16;"></span>
  <span style="--i:19;"></span>
  <span style="--i:20;"></span>
  <span style="--i:22;"></span>
  <span style="--i:25;"></span>
  <span style="--i:18;"></span>
  <span style="--i:21;"></span>
  <span style="--i:15;"></span>
  <span style="--i:13;"></span>
  <span style="--i:26;"></span>
  <span style="--i:17;"></span>
  <span style="--i:13;"></span>
  <span style="--i:28;"></span>
  <span style="--i:11;"></span>
  <span style="--i:12;"></span>
  <span style="--i:24;"></span>
  <span style="--i:10;"></span>
  <span style="--i:14;"></span>
  <span style="--i:23;"></span>
  <span style="--i:18;"></span>
  <span style="--i:16;"></span>
  <span style="--i:19;"></span>
  <span style="--i:20;"></span>
  <span style="--i:22;"></span>
  <span style="--i:25;"></span>
  <span style="--i:18;"></span>
  <span style="--i:21;"></span>
  <span style="--i:15;"></span>
  <span style="--i:13;"></span>
  <span style="--i:26;"></span>
  <span style="--i:17;"></span>
  <span style="--i:13;"></span>
  <span style="--i:28;"></span>
  <span style="--i:12;"></span>
  <span style="--i:24;"></span>
  <span style="--i:10;"></span>
  <span style="--i:14;"></span>
  <span style="--i:23;"></span>
  <span style="--i:18;"></span>
  <span style="--i:16;"></span>
  <span style="--i:19;"></span>
  <span style="--i:20;"></span>
  <span style="--i:22;"></span>
  <span style="--i:25;"></span>
  <span style="--i:18;"></span>
  <span style="--i:21;"></span>
  <span style="--i:15;"></span>
  <span style="--i:13;"></span>
  <span style="--i:26;"></span>
  <span style="--i:17;"></span>
  <span style="--i:13;"></span>
  <span style="--i:28;"></span>
  <span style="--i:11;"></span>
  <span style="--i:12;"></span>
  <span style="--i:24;"></span>
  <span style="--i:10;"></span>
  <span style="--i:14;"></span>
  <span style="--i:23;"></span>
  <span style="--i:18;"></span>
  <span style="--i:16;"></span>
  <span style="--i:19;"></span>
  <span style="--i:20;"></span>
  <span style="--i:22;"></span>
  <span style="--i:25;"></span>
  <span style="--i:18;"></span>
  <span style="--i:21;"></span>
  <span style="--i:15;"></span>
  <span style="--i:13;"></span>
  <span style="--i:26;"></span>
  <span style="--i:17;"></span>
  <span style="--i:13;"></span>
  <span style="--i:28;"></span>
</div> %>

<%# <div class="content"> %>

  <div class="landing">
      <div class="landing-content">
        <h2>Discover alternate paths</h2>
        <h1>Mapped Out</h1>
        <p>We are making the world more accessible by connecting people together</p>
        <div class="get-started-button">
        <% if Questionnaire.where(user_id: current_user.id).exists? %>
          <%= link_to "Get started", edit_questionnaire_path(@questionnaire), class: "button" %>
        <% else %>
          <%= link_to "Get started", new_questionnaire_path, class: "button" %>
        <% end %>
        </div>
        <div class="logos">
            <div>
              <h3><strong>12x</strong></h3>
              <p>Average times a person will change jobs </p>
            </div>
            <div>
              <h3><strong>39%</strong></h3>
              <p>of students are over the age of 25</p>
            </div>
            <div>
              <h3><strong>1 in every 2</strong></h3>
              <p>Students work in a field unrelated to their degree</p>
            </div>
        </div>
      </div>
      <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1685692964/pexels-fauxels-3228812_nmt9yn.jpg" alt="">
  </div>

  <div class="slogan">
    <div class="slogan-content">
      <h2>Ever been asked the question, "What do you wanna be" and have no idea how to answer?</h2>
      <p>We're guessing you probably have. By giving you a better insight into whats out there, we hope to make it easier for you to answer that question</p>
    </div>
  </div>


<div class="section one">
  <div class="our-mission">
    <div class="information">
      <div>
        <p>Our mission</p>
        <h2 class="subheader">To give people like you more choice!</h2>
      </div>
      <p>Traditional careers are a well trodden and documented path. But what about those who don't fit the mould of the modern Accountant, Doctor or Lawyer etc? We have found a collection of unique people willing to share their valuable experiences for the benefit of YOU! Take the steps below...</p>
    </div>
    <div class="card-container">

      <% if Questionnaire.where(user_id: current_user.id).exists? %>
        <%= link_to edit_questionnaire_path(@questionnaire) do %>
          <div class="card">
            <h3>About you</h3>
            <div class="card-image"><i class="fa-regular fa-lightbulb"></i></div>

            <%# <i class="fa-regular fa-lightbulb"></i> %>
            <%# <div class="card-image"><img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1685689100/light_bulb_momentBW_tpapxa.png" alt=""></div> %>
            <p>Tell us a little bit about you! We have devised a set of questions to help us identify possible paths you could take</p>
          </div>
        <% end %>
      <% else %>
         <%= link_to new_questionnaire_path do %>
          <div class="card">
            <h3>About you</h3>
            <%# <i class="fa-regular fa-lightbulb"></i> %>
            <%# <div class="card-image"><img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1685689100/light_bulb_momentBW_tpapxa.png" alt=""></div> %>
            <div class="card-image"><i class="fa-regular fa-lightbulb"></i></div>
            <p>Tell us a little bit about you! We have devised a set of questions to help us identify possible paths you could take</p>
          </div>
        <% end %>
      <% end %>

      <%= link_to profiles_path do %>
        <div class="card">
          <h3>Discover</h3>

          <div class="card-image"><i class="fa-solid fa-book-open"></i></div>
          <p>Browse our community of mentors willing to help and share their experiences! Use our basic algorithm to help you streamline your search</p>
        </div>
      <% end %>
      <%= link_to dashboard_path do %>
        <div class="card">
          <h3>Connect</h3>
          <div class="card-image"><i class="fa-regular fa-comments"></i></div>
          <p>Connect to your new mentor and gain specific advice and guidance, or apply for our deeper testing process to help you accelerate your decision making process!</p>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="section two">
    <div class="mission-section">
      <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1682014739/pexels-marcin-dampc-1684187_fsnjod.jpg" alt="">
      <div class="mission-container">
        <div class="mission-content-container">
          <h2 class="subheader">About us</h2>
          <h3>We have all been in the position when you leave education and must decide what to do next.</h3>
          <p>The lucky few amongst us may already know, but for the rest of us, it's a very difficult question to answer that often takes time. We want to help change that.</p>
          <%= link_to about_path do %>
            <button class="button">Read more</button>
          <% end %>
        </div>
      </div>
    </div>
</div>

<div class="section four">
  <div class="become-a-member-container">
    <div class="member-content">
      <div>
        <h3>Are you in the priviledged position of being able to help others?</h3>
        <p>Get started inspiring people and register with us below. No matter how advanced you are in your field, you will undoubtedly have some valuable knowledge to share!</p>
        <div class="button-container">
          <%= link_to "Become a mentor", new_user_registration_path, class: "button become-a-member-button" %>
        </div>
        <h3>Follow us below</h3>
        <div>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="member-image">
      <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1686920328/pexels-kampus-production-5940841_rokpmx.jpg" alt="">
    </div>
  </div>
</div>
