<%# <%= link_to "index of profiles", profiles_path %>
<%# <%= link_to "complete questionnaire", new_questionnaire_path %>
<%# <%= link_to "chatrooms index", chatrooms_path %>

<%# <div class="bubbles">
  <span style="--i:11;"></span>
  <span style="--i:12;"></span>
  <span style="--i:24;"></span>
  <span style="--i:10;"></span>
  <span style="--i:14;"></span>
  <span style="--i:23;"></span>
  <span style="--i:18;"></span>
  <span style="--i:16;"></span>
  <span style="--i:19;"></span>
  <span style="--i:20;"></span>
  <span style="--i:22;"></span>
  <span style="--i:25;"></span>
  <span style="--i:18;"></span>
  <span style="--i:21;"></span>
  <span style="--i:15;"></span>
  <span style="--i:13;"></span>
  <span style="--i:26;"></span>
  <span style="--i:17;"></span>
  <span style="--i:13;"></span>
  <span style="--i:28;"></span>
  <span style="--i:11;"></span>
  <span style="--i:12;"></span>
  <span style="--i:24;"></span>
  <span style="--i:10;"></span>
  <span style="--i:14;"></span>
  <span style="--i:23;"></span>
  <span style="--i:18;"></span>
  <span style="--i:16;"></span>
  <span style="--i:19;"></span>
  <span style="--i:20;"></span>
  <span style="--i:22;"></span>
  <span style="--i:25;"></span>
  <span style="--i:18;"></span>
  <span style="--i:21;"></span>
  <span style="--i:15;"></span>
  <span style="--i:13;"></span>
  <span style="--i:26;"></span>
  <span style="--i:17;"></span>
  <span style="--i:13;"></span>
  <span style="--i:28;"></span>
  <span style="--i:12;"></span>
  <span style="--i:24;"></span>
  <span style="--i:10;"></span>
  <span style="--i:14;"></span>
  <span style="--i:23;"></span>
  <span style="--i:18;"></span>
  <span style="--i:16;"></span>
  <span style="--i:19;"></span>
  <span style="--i:20;"></span>
  <span style="--i:22;"></span>
  <span style="--i:25;"></span>
  <span style="--i:18;"></span>
  <span style="--i:21;"></span>
  <span style="--i:15;"></span>
  <span style="--i:13;"></span>
  <span style="--i:26;"></span>
  <span style="--i:17;"></span>
  <span style="--i:13;"></span>
  <span style="--i:28;"></span>
  <span style="--i:11;"></span>
  <span style="--i:12;"></span>
  <span style="--i:24;"></span>
  <span style="--i:10;"></span>
  <span style="--i:14;"></span>
  <span style="--i:23;"></span>
  <span style="--i:18;"></span>
  <span style="--i:16;"></span>
  <span style="--i:19;"></span>
  <span style="--i:20;"></span>
  <span style="--i:22;"></span>
  <span style="--i:25;"></span>
  <span style="--i:18;"></span>
  <span style="--i:21;"></span>
  <span style="--i:15;"></span>
  <span style="--i:13;"></span>
  <span style="--i:26;"></span>
  <span style="--i:17;"></span>
  <span style="--i:13;"></span>
  <span style="--i:28;"></span>
</div> %>

<%# <div class="content"> %>

  <div class="landing">
    <%# <div class="landing-container"> %>
      <div class="landing-content">
        <h2>Discover alternate paths</h2>
        <h1>Mapped Out</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <%= link_to "Get started", new_profile_path, class: "button" %>
        <div class="logos">
            <div>
              <h3><strong>10'000 +</strong></h3>
              <p>Users worldwide</p>
            </div>
            <div>
              <h3><strong>4.9/5</strong></h3>
              <p>in 3000+ reviews</p>
            </div>
            <div>
              <h3><strong>#1</strong></h3>
              <p>Top ranked globally</p>
            </div>
        </div>
      </div>
      <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1685692964/pexels-fauxels-3228812_nmt9yn.jpg" alt="">
    <%# </div> %>
  </div>

  <div class="slogan">
    <div>
      <h2>"Some sort of slogan or something"</h2>
      <p>- Someone said this ?</p>
    </div>
  </div>


<div class="section one">
  <div class="our-mission">
    <div class="information">
      <div>
        <p>Our mission</p>
        <h2 class="subheader">Open up to new ideas</h2>
      </div>
      <p>The eductaion system will never be able to let you explore all the toptions available to you, predominately because how could they? There is a million ways to go about your life, and with the climate of careers changing rapidly, why enclose yourself?</p>
    </div>
    <div class="card-container">
      <%= link_to new_profile_path do %>
        <div class="card">
          <h3>Think</h3>
          <div><img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1685689100/light_bulb_momentBW_tpapxa.png" alt=""></div>
          <p>Answer our questions instinctively, and let our algorithm present you with opportunities you may not have thought of.</p>
        </div>
      <% end %>
      <%= link_to profiles_path do %>
        <div class="card">
          <h3>Discover</h3>
          <div><img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1685632379/worldandshoe_fqdkqm.png" alt=""></div>
          <p>Discover our portfolio of professionals willing to help, and become inspired by their journeys! ANd a little more text.</p>
        </div>
      <% end %>
      <%= link_to dashboard_path do %>
        <div class="card">
          <h3>Connect</h3>
            <div><img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1685689099/connectedBW_o8qesf.png" alt=""></div>
          <p>Connect to established professials and begin making the right turns towards your potential new start!</p>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="section two">
    <div class="mission-section">
      <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1682014739/pexels-marcin-dampc-1684187_fsnjod.jpg" alt="">
      <div class="mission-container">
        <div class="mission-content-container">
          <h2 class="subheader">About us</h2>
          <h3>Who has ever heard the question "What do you want to be when you grow up?"</h3>
          <p>Likelihood is you have, but its one of the trickiest things to answer for most of us. People now regularly have career changes throughout their lives, and what typically inspires that change?</p>
          <button class="button">Read more</button>
        </div>
      </div>
    </div>
</div>

<%# <div class="icon-train">
  <i class="fa-solid fa-users"></i>
  <i class="fa-solid fa-users"></i>
  <i class="fa-solid fa-users"></i>
</div> %>



<%# <div class="content">
  <div class="section three">
    <div style="width: 100%;">
      <div class="how-it-works-titles">
        <div>
          <p>How it works</p>
          <h2 class="subheader how-it-works">Follow the steps below</h2>
        </div>
        <p>We have a tested process to help you discover what possibilities are out there without any outside pressures from schools/parents/your peers.We have a tested process to help you discover what possibilities are out there without any outside pressures from schools/parents/your peers</p>
      </div>
      <div class="how-it-works-section">
        <div class="how-it-works-container">
          <h3>01</h3>
          <div class="how-it-works-card">
            <div>Test</div>
          </div>
          <p>Answer our questions instinctively, and let our algorithm present you with opportunities you may not have thought of.</p>
        </div>
        <div class="how-it-works-container">
          <h3>02</h3>
          <div class="how-it-works-card">
            <div>Discover</div>
          </div>
          <p>Discover our portfolio of professionals willing to help, and become inspired by their journeys!</p>
        </div>
        <div class="how-it-works-container">
          <h3>03</h3>
          <div class="how-it-works-card">
            <div>Connect</div>
          </div>
          <p>Connect to established professials and begin making the right turns towards your potential new start!</p>
        </div>
      </div>
    </div>
  </div>
</div> %>



<div class="section four">
  <div class="become-a-member-container">
    <div class="member-content">
      <div>
        <h3>Become a member of the community!</h3>
        <div>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <p>Get started inspiring someone and sign up below</p>
        <div class="button-container">
        <%= link_to "sign up", new_user_registration_path, class: "button become-a-member-button" %>
        </div>
      </div>
    </div>
    <div class="member-image">
      <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666861660/qqksbhnrh2whpb2qy5dp.jpg" alt="">
    </div>
  </div>
</div>
