<%= simple_form_for(@questionnaire) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <br/>
    <br/>
    <% @questions.each_with_index do |question, index| %>
    <% raise %>
      <div class="questionnaire-form-input">
        <h3><%= question %></h3>
        <div class="questionnaire-form-label">
          <p>Strongly Disagree</p>
          <p>Strongly Agree</p>
        </div>
        <%= f.input "q#{index + 1}".to_sym, label: false, as: :range, in: 1..5 %>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Finish", class: "button" %>
  </div>
<% end %>
