
<%= simple_form_for(@questionnaire) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :q1, as: :range, label: "Question 1", in: 1..5 %>
    <%= f.input :q2, as: :range, label: "Question 2", in: 1..5 %>
    <%= f.input :q3, as: :range, label: "Question 3", in: 1..5 %>
    <%= f.input :q4, as: :range, label: "Question 4", in: 1..5 %>
    <%= f.input :q5, as: :range, label: "Question 5", in: 1..5 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
