<div id="<%= dom_id questionnaire %>">
  <div class="score">
    <h2>The question that was asked?</h2>
    <p><%= questionnaire.q1 %></p>
  </div>

  <div class="score">
    <h2>The question that was asked?</h2>
    <p><%= questionnaire.q2 %></p>
  </div>

  <div class="score">
    <h2>The question that was asked?</h2>
    <p><%= questionnaire.q3 %></p>
  </div>

  <div class="score">
    <h2>The question that was asked?</h2>
    <p><%= questionnaire.q4 %></p>
  </div>

  <div class="score">
    <h2>The question that was asked?</h2>
    <p><%= questionnaire.q5 %></p>
  </div>

  <div class="score">
    <h2>Total score</h2>
    <p><%= questionnaire.total_score %></p>
  </div>

</div>
