<div id="<%= dom_id questionnaire %>">
  <p>
    <strong>Q1:</strong>
    <%= questionnaire.q1 %>
  </p>

  <p>
    <strong>Q2:</strong>
    <%= questionnaire.q2 %>
  </p>

  <p>
    <strong>Q3:</strong>
    <%= questionnaire.q3 %>
  </p>

  <p>
    <strong>Q4:</strong>
    <%= questionnaire.q4 %>
  </p>

  <p>
    <strong>Q5:</strong>
    <%= questionnaire.q5 %>
  </p>

  <p>
    <strong>User:</strong>
    <%= questionnaire.user_id %>
  </p>

</div>
