<div id="<%= dom_id enquiry %>">
  <p>
    <strong>Email:</strong>
    <%= enquiry.email %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= enquiry.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= enquiry.last_name %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= enquiry.message %>
  </p>

</div>
